@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 140);
  color: rgb(245, 72, 101);
}

button {
  background-color: pink;
  padding: 0.9vw;
  color: white;
  border: solid 2px rgb(245, 72, 101);
}
